body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* -- Contendor principal -- */
.contenedor {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

/* -- Header -- */
header h1 {
    text-align: center;
}

/* -- Main -- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main p {
    text-align: justify;
    max-width: 800px;
    margin-bottom: 20px;
}

/* -- Contenido principal -- */
article {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 5px;
    margin-top: 20px;
    max-width: 600px;
}

article h1 {
    text-align: center;
}

article section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.area1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area1 div {
    margin: 5px;
}

.area2 {
    display: flex;
    flex-direction: row;
}

.area2 div {
    margin: 10px;
}

/* -- Footer -- */
footer p {
    text-align: center;
}

/* -- Responsive -- */
@media (max-width: 800px) {
    .area2  {
        display: flex;
        flex-direction: column;
    }

    main p {
        max-width: 400px;
    }
}

@media (max-width: 400px) {
    main p {
        max-width: 300px;
    }
}