/* -- Contendor principal -- */
.contenedor {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

/* -- Header -- */
header h1 {
    text-align: center;
}

/* -- Main -- */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -- Contenido principal -- */
article {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 5px;
    max-width: 500px;
}

article h1 {
    text-align: center;
}

article section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.area1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area1 div {
    margin: 5px;
}

.area2 div {
    margin: 10px;
}

/* -- Footer -- */
footer p {
    text-align: center;
}